/**
 * Pervasive contact block
 */

#block-block-1 {
  font-family: FjordOne, times, serif;
  color: #BC3E3A;
  width: 255px;
  padding: 8px 0;
  margin: auto;
}

#block-block-1 p {
  margin: 0;
}

#block-block-1 p a:link,
#block-block-1 p a:visited {
  color: #BC3E3A;
}