/**
 * @file
 * Navigation Styling
 */

#block-system-main-menu {
  float: right;
}

#block-system-main-menu li {
  list-style: none;
  float: left;
  margin-left: 15px;
}

#block-system-main-menu li a:link,
#block-system-main-menu li a:visited {
  display: block;
  background-color: #BC3E3A;
  border: solid 1px #BC3E3A;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px 18px;
  color: #FFFFFF;
  font-family: georgia;
  text-shadow: 1px 1px 0px #A33633, -1px -1px 0px #A33633;
  box-shadow: 1px 1px 1px #BDBDBA;
}


#block-system-main-menu li a:focus,
#block-system-main-menu li a:hover,
#block-system-main-menu li a.active {
  background-color: transparent;
  border: solid 1px #A33633;
  color: #BC3E3A;
  text-shadow: none;
  box-shadow: none;
}